xsd/paths.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <!-- Includes -->
    <xs:include schemaLocation="types.xsd"/>

    <!-- Types only used here -->

    <!-- Element -->
    <xs:element name="paths">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="path" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="id" type="nonEmptyString" use="required"/>
                        <xs:attribute name="import" type="nonEmptyString" />
                        <xs:attribute name="delimiter" type="nonEmptyString" />
                        <xs:attribute name="src" type="key_colon_value" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="uniquePathId">
            <xs:selector xpath="path"/>
            <xs:field xpath="@id"/>
        </xs:unique>
    </xs:element>
</xs:schema>

