xsd/rtvals.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <!-- Includes -->
    <xs:include schemaLocation="types.xsd"/>

    <!-- Types only used here -->
    <xs:element name="rtvals">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="group" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element name="int" type="rtvalType"  />
                            <xs:element name="real" type="rtvalType"  />
                            <xs:element name="text" type="rtvalType"  />
                            <xs:element name="flag" type="rtvalType"  />
                        </xs:choice>
                        <xs:attribute name="id" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="uniqueGroupId">
            <xs:selector xpath="group"/>
            <xs:field xpath="@id"/>
        </xs:unique>
    </xs:element>
</xs:schema>